importFrom(ggplot2,autoplot)
importFrom(ggplot2,fortify)
importFrom(grid,arrow)
importFrom(grid,unit)
S3method(autoplot,cca)
S3method(autoplot,metaMDS)
S3method(fortify,cca)
S3method(fortify,metaMDS)
