importFrom(ggplot2,autoplot)
importFrom(ggplot2,fortify)
importFrom(grid,arrow)
importFrom(grid,unit)
importFrom(reshape2,melt)
S3method(autoplot,cca)
S3method(autoplot,metaMDS)
S3method(autoplot,prc)
S3method(fortify,cca)
S3method(fortify,metaMDS)
